body, html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    background: #D6D6D6;
    font-family: Verdana,Arial,Helvetica;
    margin:0px;
    padding:0px;
    color: #333;
    background: #D6D6D6;
    z-index: -1;

}

A:link, A:active {
    color: #336699;
    text-decoration: none;
}
A:visited, A:hover {
    color: #698FB4;
    text-decoration: none;
}

p {
    font-size: 13px;
    margin:0px;
    padding:0px 0px 7px 0px;
    /* padding:0px; */
    clear: left;
}
h1 {
    font-size: 24px;
    color: #333;
    margin:0px;
    /* padding:0px; */
    padding: 18px 0px 1px 30px;
}

#page_title {
    font-size: 24px;
    color: #333;
    margin:0px;
    /* padding:0px; */
    padding: 18px 0px 1px 30px;
}

h1.reporthospname {
    font-size: 13px; 
    font-weight: 400; 
    line-height: 15px; 
    margin: 0px; 
    padding: 0px;
}

img.pagetitle {
    float:left;
    margin: 0px 10px 10px 0px;
    padding: 18px 0px 1px 30px;
}

h2 {
    font-size: 16px;
    padding: 4px 0px 7px 0px;
    margin:0px;
}

#page_subtitle {
    clear: left;
}

.firstindent {
    padding: 0px 0px 0px 30px;
}

.alert{
    color: #CC0000;
    font-weight: 800;
}

h3 {
    color: #333;
    font-size:18px;
    margin:0px;
    padding:0px 0px 4px 0px;
}

h4 {
    color: #333;
    font-size:13px;
    margin:0px;
    padding:0px;
}

#inthenews td {
    color: #333;
    font-size: 10px;
    padding:0px;
}

#hospitalnotes td {
    color: #333;
    font-size: 13px;
    padding:0px;
}

#notsubscriber {
    margin: 20px 0px 0px 0px;
}

#notsubscriber td {
    padding:0px;
}


h5 {
    font-size:13px;
    margin:0px;
    padding:0px 0px 0px 0px;
}
#maincontainer {
    width: 1003px;
    margin: 0pt auto;
    background-color: #fdfdfd;
}
* html #maincontainer {
    height: 100%;
}

#footer {
    clear: both;
    margin-top: 15px;
    font-size: 10px;
}
#footer td {
    letter-spacing: 1pt;
    font-size: 10px;
}


#navigation_bar label {
    color: #336699;
    font-size: 10px;
    margin: 0px;
}
#navigation_bar input {
    font-family: Verdana,Arial,Helvetica;
    color: #666666;
    font-size: 10px;
    border: 1px solid #C0C0C0;
    height: 14px;
}

.pulldown {
    border: 1px solid #C0C0C0;
    vertical-align: middle;
    height:16px;
    margin-left: -5px;
}

#navigation_bar select {
    color: #666666;
    font-size: 10px;
    border: 1px solid #C0C0C0;
}

table#navbar tr#navbartoprow td {
    padding: 5px 0px 5px 0px;
}

/* input that is styled to match the report buttons */
input#login {
    color: #FFFFFF;
    font-size: 10px;
    border: none;
    background: none;
    font-family: Verdana,Arial,Helvetica;
    line-height: 14px !important;
    line-height: 20px;
    height: 14px !important;
    height: 20px;
}

#loginform {
    text-align: right;
    padding: 3px 1px 0px 0px;
}

#loginform input {
    padding:3px;
    width: 100px;
    margin-bottom: 2px;
}

#loginform label {
    color: #666666;
    font-size: 10px;
    margin: 0px;
}
#navigation_bar select {
    color: #666666;
    font-size: 10px;
    border: 1px solid #C0C0C0;
}

#navigation_bar table {
    border-collapse: collapse;
}
#navigation_bar td {
    margin:0px;
    padding:0px;
}

table#navbar tr#navbartoprow td {
    padding: 5px 0px 5px 0px;
}


#navigation_bar .apps {
    float: left;
    margin-left: 30px;
    line-height: 20px;
    height: 20px;
    width: 210px;
}
#navigation_bar .list {
    float: left;
    line-height: 20px;
    padding-left: 17px;
    height: 20px;
    width: 300px;
}
#navigation_bar .quick_search {
    float: left; 
    line-height: 20px;
    width: 280px;
}
#navigation_bar .advanced_search {
    float: left;
    width: 325px;
    line-height: 20px;
}
#navigation_bar .export {
    float: left;
    margin-left: 11px;
}
#header {
    width: 100%;
    background: #e8e8e8;
    position: relative;
    z-index: 1000;
}
#main {
    z-index: 500
}
#logo {
    width: 240px;
    float: left;
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #333;
}
#navigation_bar {
    position:relative;
    width: 730px;
    float: right;
    background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStna2aV191RyDL3CEL%2FhfjA%3D%3D&b=5) repeat-x;
    background-position: center bottom;
    padding-bottom: 20px;
}



.clear {
    clear:both;
    height: 1px;
}
.nav_row {
    font-size: 10px; 
    color: #336699;
    font-family: Verdana,Arial,Helvetica;
}
#nav_wrap {
    width: 650px;
    margin-left: 38px;
}
#nav_left {
    position: absolute;
    bottom: 0px !important;
    left: 0px;
    width: 37px;
    height: 130px;
    background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStnareFlLzBCUZWyPZg%3D%3D&b=5) no-repeat;
    background-position: -1px -136px;
}




#nav_right {
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    height: 130px;
    width: 37px;
    margin: 0;
    padding: 0;
    background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStnareFlLzBCUZWyPZg%3D%3D&b=5) no-repeat;
    background-position: -38px -136px;
}

#navbar_video {
    float: left;
}
#topnav {
    margin: 0px;
    padding: 0px;
    color: #336699;
    /* font-size: 9pt; */
    text-align: right;
}

#topnav li {
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #336699;
    /* font-size: 9pt; */
    font-size: 10px;
}


.navbuttons_ordernow {
    width: 80px;
    height: 20px;
    background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStnareFlLzBCUZWyPZg%3D%3D&b=5) no-repeat;
    background-position: -109px -154px;
    /* background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStnaqbU992gCTP3OPOa9O2CapmJan&b=5) no-repeat center; */
    float: left;
    text-align: center;
    line-height: 20px;

}
.nav_spacer {
    float: left;
    width: 30px;
    height: 20px;
}

.nav_open_spacer {
    float: left;
    height: 20px;
}
.navbuttons_ordernow A,
.navbuttons_ordernow A:LINK,
.navbuttons_ordernow A:HOVER,
.navbuttons_ordernow A:VISITED {
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
}

.navbuttons_na {
    background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStnareFlLzBCUZWyPZg%3D%3D&b=5) no-repeat;
    background-position: -109px -194px;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.navbuttons
{
    background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStnareFlLzBCUZWyPZg%3D%3D&b=5) no-repeat;
    width: 80px;
    height: 20px;
    background-position: -109px -174px;
    float: left;
    text-align: center;
    line-height: 20px;
}

.navbuttons A,
.navbuttons A:LINK,
.navbuttons A:HOVER,
.navbuttons A:VISITED
{
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
}
html* .navbuttons input[type="submit"] { /* Weird IE7 Hack to fix the login button */
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
    padding-top: 2px;
    margin: 0px;
    overflow:visible;
}

form {
    display:inline;
}


.subcontent {
    /* border: 1px solid red; */
    padding-left: 70px;
    padding-right: 70px;
}

.subcontent ul {
    margin-top: 0px;
}

dt {
    font-size: 13px;
    font-weight: 800;
    margin-left: 30px;
    padding: 0px;
}

dd {
    font-size: 13px;
    margin-left: 30px;
    padding:0px;
    margin-bottom: 10px;
}


li {
    font-size: 13px;
}

#notices {
    margin:0px;
    padding:0px;
}
#notices li {
    font-size:10px;
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    color: #666666;
    border-left: 10px solid #CCC;
    padding: 5px 10px 0px 10px;
}

#notices li.important {
    border-color: #369;
    font-weight: bold;
}

#notices li.warning {
    border-color: #CC0000;
    font-weight: bold;
}

#notices p {
    font-size:10px;
}

#news {
    margin: -20px 0px 0px 0px;
    padding: 0px;
}

#news li {
    font-size: 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #777;;
    padding: 10px 0px 0px 0px;
    -moz-border-radius: 0;
    -moz-box-shadow: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}

.newscategory {
    font-style: italic;
}

.recent {
    border-collapse:collapse;
    margin-bottom: 20px;
}

.recent td {
    font-size: 10px;
    padding: 5px;
}

td {
    font-size: 13px;
}

th {
    font-size: 13px;
}

#panels table {
    clear: right;
    float: right;
    width: 200px;
    margin:0px 20px 20px 20px;
    padding:0px;
    border-collapse: collapse;
    border:none;
}

#panels  {
        clear: right;
         float: right; 
        width: 200px;
}   
#panels ul {
        list-style: none;
        background-color: #F0F0F0;
        border: 1px solid;
        border-color: #000080;
        padding: 0px 0px 10px 0px;
        margin: 0px 30px 5px 3px;

}
#panels ul li {
        margin: 0px;
        padding: 2px 6px;
}   
li.title {
        background-color: #000080;
        background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStnawbUpG3Qe4KX2CarFGhHE%3D&b=5);
        margin:0px;
        font-weight: bold;
        color: #fff;
        padding:0px;
}
li.title h4 {
    font-size: 12px;
    font-family: verdana,arial,helvetica;
    margin: 2px 0px;
    padding:0px;
    color: #FFFFFF;
}

label {
    color: #666666;
    font-size: 10px;
    margin-right: 5px;
}

input[type="text"],
input[type="password"] {
    color: #666666;
    font-size: 12px;
    border: 1px solid #C0C0C0;
    height: 18px;
}

textarea {
    color: #666666;
    font-size: 12px;
    border: 1px solid #C0C0C0;
}

select {
    color: #666666;
    font-size: 12px;
    border: 1px solid #C0C0C0;
}

.disabled {
    background-color: #DDD;
}


.myaccount {
    margin: 0px 0px 10px 0px;
}
.myaccount dt {
    margin:0px;
    font-size: 13px;
    display:inline;
}

.myaccount dd {
    font-size: 10px;
    margin-bottom: 10px;
    display:inline;
}


/* for alternate row colors */
.b, .b td {
    background-color: #F0F0F0;
}

/* for search results page */

.list_button {
    margin:0px;
    padding:0px;
    text-align: center;
}

.list_button li {
    display: inline;
    margin:0px;
    padding:0px;
}

.list_button .na {
	font-size:8px;
	color:#CCCCCC;
	background-color:#999999;
	font-weight:800;
	border-width:2px;
	padding-right: 2px;
	padding-left: 2px;
	border-bottom: 2px solid #888888;
	border-right: 2px solid #888888;
	border-top: 2px solid #AAAAAA;
	border-left: 2px solid #AAAAAA;
}
.list_button A:LINK,
.list_button A:VISITED	{
	color:#CCCCCC;
	padding-right: 2px;
	padding-left: 2px;
	background-color:#336699;
	font-weight:800;
	font-size:8px;
	text-decoration:none;
	border-bottom: 2px solid #224467;
	border-right: 2px solid #224467;
	border-top: 2px solid #7195B8;
	border-left: 2px solid #7195B8;
}
.list_button .selected,
.list_button .selected A:LINK,
.list_button .selected A:VISITED,
.list_button A:HOVER,
.list_button A:VISITED:HOVER {
	font-weight:800;
	text-decoration:none;
	color:#FFFFFF;
	font-size:8px;
}

.report h3 {
    color: #333;
    font-size:18px;
    margin:0px;
    padding:0px;
}


.report table {
    margin-bottom: 20px;
    border-collapse:collapse;
}

.report form {
    display: block;
    margin-bottom: 20px;
}

.report thead th {
    background-color: #C0C0C0;
    border: 1px solid #A0A0A0;
    padding: 3px;
    font-size: 10px;
    font-weight: 800;
    vertical-align: bottom;
    text-align: center;
}

.report thead td {
    font-size: 10px;
    background-color: #C0C0C0;
    border: 1px solid #A0A0A0;
    padding: 3px;
    vertical-align: bottom;
}

.report tbody td,
.report tbody th
{
    border: 1px solid #A0A0A0;
    padding: 3px;
    font-size: 13px;
}

td.na {
    background-color: #C0C0C0;
}

.reportsubnav {
    padding:0px;
    margin:0px 30px 0px 30px;
}
.reportsubnav li {
    font-size: 10px;
    list-style: none;
    margin:0px;
    padding:0px 5px 0px 5px;
    display:inline;
    border-left: 1px solid #666666;
}

.reportsubnav li.first {
    border: none;
    padding:0px 5px 0px 0px;
}

#clinicalservices dt {
    font-size:13px;
    font-weight: 800;
    margin:0px;
    padding:10px 0px 0px 0px;
}

#clinicalservices dd {
    font-size:13px;
    padding: 0px 0px 0px 18px;
    margin:0px;
}

.noborder,
.report .noborder,
.report .noborder td, 
.report .noborder th {
    border: none;
}

.report .nomargin {
    margin:0px;
}

.nopadding,
.nopadding td,
.nopadding th,
.report .nopadding td,
.report .nopadding th,
.report h3.nopadding {
    padding:0px;
}

.nobackground,
.report .nobackground {
    background-color: transparent;
}

.reportnotes,
.reportnotes li,
.report .reportnotes
{
    font-size: 10px;
    list-style: none;
    margin:0px;
    padding:0px;
}

.report dt, .report dd { margin-left:0px; }

.searchform td {
    font-size: 12px;
    padding-bottom: 10px;
}


.disclaimerbutton A:LINK,
.disclaimerbutton A:VISITED	{
	padding-right: 6px;
	padding-left: 6px;
	font-size:10px;
}
.disclaimerbutton A:HOVER,
.disclaimerbutton A:VISITED:HOVER {
	padding-right: 6px;
	padding-left: 6px;
	font-size:10px;
}


.report .hcahpslo {
    background-color:#F8F8F8;
}

.report .hcahpsmed {
    background-color:#DDDDDD;
}

.report .hcahpshi {
    background-color:#B2B2B2;
}

.legal {
    font-size:10px;
}

.list_hosp {
    margin-left:10px;
}

.helpbox {
    text-align: left;
    display:none;
    position:relative;
    z-index: 1000000000;
    background-color: #F1F1F1; /* #C0C0C0; */
    border: 2px solid #336699;
    width: 300px;
    -moz-border-radius: 9px;
    -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.33);
    -webkit-border-radius: 9px;
    -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.33);
}

.helpicon {
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    margin-right: 3px;
    opacity:.25;
    filter: alpha(opacity = 25);
    zoom: 1;
}
.helpicon:hover {
    opacity:1;
    filter: alpha(opacity = 100);
    zoom: 1;
}


.helpbox h4 {
    color: #FFFFFF;
    background-color: #336699;
    padding: 5px 15px 5px 15px;
    margin:0px;
}

.helpboxcontent {
    padding: 5px 15px 5px 15px;
    font-size:10px;
    margin:0px;
    color: #333;
}

.helpboxcontent p {
    font-size:10px;
}

.bclinks {
    margin:0px;
    padding: 0px 0px 0px 30px;
}

.bclinks li {
    display: inline;
    font-size: 10px;
}

.bclinks li.current {
    font-weight: 600;    
}

.bclinks li.notavail {
    color: #AAAAAA;
}

.bclinks li:before {
    content: ' > ';
}

.bclinks li.first:before {
    content: '';
}

div.autosuggest
{
    position: absolute;
    margin: 7px 0px 0px 0px;
    font-size:10px;
    z-index: 2000;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #C0C0C0;
    *padding-right: 12px;
    *overflow-y: scroll;
}

div.autosuggest a:link,
div.autosuggest a:active,
div.autosuggest a:visited,
div.autosuggest a:hover
{
    font-size: 10px;
}

div.autosuggest ul
{
    list-style: none;
    /* margin: 0 0 -4px 0; */
    margin: 0px;
    padding: 0px;

    /* background-color: #333; */

    color: #666666;
}

div.autosuggest ul li
{
    /* color: #ccc; */
    padding: 0px;
    /* margin: 0 4px 4px; */
    margin:0px;
    text-align: left;
}

div.autosuggest ul li a
{
    /* color: #ccc; */
    display: block;
    text-decoration: none;
    background-color: transparent;
    /* text-shadow: #000 0px 0px 5px; */
    position: relative;
    padding: 0px;
    width: 100%;
}



div.autosuggest ul li a span
{
    display: block;
    padding: 3px 6px 3px 6px;
    /* font-weight: bold; */
}

div.autosuggest ul li.as_highlight a
{
    background-color: #336699;
    color: #FFF;
}


div.autosuggest a img {
    border: none;
    margin-right: 3px;
}

div.autosuggest .list_hosp {
    padding-left: 10px;
}

div.autosuggest .listfunction {
    text-align: right;
}


div.autosuggest #managelist,
div.autosuggest #viewallapps {
    border-bottom: 1px solid #AAA;
}

p a:link,
p a:active,
p a:visited,
p a:hover
{
    text-decoration: underline;
}

#learnmore {
    background-color:#CC0000;
    color: #F1F1F1;
    font-weight: 800;
    padding: 6px 10px;
    font-size: 15px;
    margin: 0px 0px 10px 0px;
}

#clinicalservices dt,
#clinicalservices dd {
    white-space: nowrap;
}

.pagehelp
{
    margin-left:4px;
    vertical-align: super;
    font-size: 80%;
}
.pagehelp:before { content: "["; }
.pagehelp:after { content: "]"; }


dl#recent_updates dt {
    font-family: verdana,arial,helvetica;
    font-size:13px;
}
dl#recent_updates dd {
    font-family: verdana,arial,helvetica;
    font-size:13px;
    margin-bottom:35px;
    padding:0px;
}

th.vertical {
    text-align: left;
    vertical-align: top;
}

.loss {
    color: #CC0000;
}

.errors { padding-left: 30px; font-size: 14px; color: #CC0000; font-weight: bold; } 

#LOGINFORM #username, #LOGINFORM #password {
    width: 150px;
    padding: 3px;
    font-size: 13px;
}

.icon_dismiss {
    opacity:.25;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    filter: alpha(opacity = 25);
    zoom: 1;
}
.icon_dismiss:hover {
    opacity:1;
    filter: alpha(opacity = 100);
    zoom = 1;
}

#help_resources,
#help_video_list {
    margin: 0px;
}

#help_resources li {
    padding-bottom: 10px;
}
#help_video_list li {
    list-style-type: none;
}
.video_list_category {
    font-weight: bold;
}
.video_category {
    padding-bottom: 20px;
}
.video_link_pagetitle {
    font-size: 10px;
    font-weight:400;
    padding: 0px 0px 1px 30px;
    margin:0px 0px 0px 0px;
}
.video_notavailable {
    opacity:.25;
    filter: alpha(opacity = 25);
    zoom: 1;
}
.app_years {
}
.app_years label {
    font-size: 13px;
}
.app_years .list_years {
}
.app_license {
    margin-bottom: 5px;
}
.cart {
    border: 1px solid #D6D6D6;
}
.cart_header {
    background: #CC0000;
    font-size: 15px;
    padding: 6px 10px;
    color: white;
    font-weight: 800;
}
.cart_subscription p {
    font-size: 10px;
}
.cart_items {
    border-top: 1px solid #D6D6D6;

}
.cart_total {
    font-weight: bold;
    border-top: 1px solid #D6D6D6;
}
.cart_checkout {
    border-top: 1px solid #D6D6D6;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.item_list {
    width: 100%;
}
.item_list td {
    width: 50%;
}


.admintable th,
.admintable td {
    font-size: 9px;
}

.admintable thead th {
    background-color: #C0C0C0;
    border: 1px solid #A0A0A0;
    padding: 3px;
    font-size: 10px;
    font-weight: 800;
    vertical-align: bottom;
    text-align: center;
}


#activelistcontent {
    position:absolute;
    margin-top: 2px;
    display: none;
    font-size: 13px;
    *top: 79px;
    _top: 79px;
    *left: 138px;
    _left: 138px;
}
#applistcontent {
    position:absolute;
    margin-top: 2px;
    display: none;
    font-size: 13px;
    *top: 79px;
    _top:79px;
    *right: -37px;
    _right:-38px;
}

abbr {
    border-bottom: 1px dotted #333;
}

.superscript {
    vertical-align: super;
    font-size: 80%;
}
#samplelinks a {
    font-size:10px;
}
#hospital_list tbody .header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#hospital_list tbody tr {
    background: #dbe5f1;
}

#hospital_list tbody tr.table_header {
    background-color: transparent;
}
#hospital_list tbody tr.table_header h3 {
    font-size: 18px;
}
#hospital_list tbody tr.header td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#comp .comp {
    background: #C0C0C0;
}
#comp h3 {
    font-size: 18px;
}
#comp .primary {
    background: #DBE5F1;
}
/*
#comp .primary a {
    color: white;
}*/


#hospital_list tbody tr.mouseover {
    background: #698FB4;
    color: white;
}

#hospital_list tbody tr.selected {
    background: #698FB4;
    color: white;
}

#hospital_list tbody tr.mouseover.selected_comp {
    color: black;
}

#hospital_list tbody tr.selected_comp {
    background: #C0C0C0;
    color: black;
}

.measure a.info {
    font-size: 10px;
}

a.info {
    position: relative;
    z-index:24;
    text-decoration: black;
    color: #333333;
    min-width: 0;
    border-bottom: 1px dotted #333;
}

a.info:hover {
    z-index:25;
}

a.info div{display:none;}

a.info:hover div {
    display: block;
    position: absolute;
    top: -3px;
    left: -170px;
    width: 170px;
    border: 1px solid #336699;
    background: white;
    text-decoration: none;
    color: black;
    text-align: center;
}

a.info.right:hover div {
    left: 70px;
}

a.info:hover div h4 {
    background-color: #336699;
    padding: 5px 15px;
    color: #FFFFFF;
    text-align:center;
}
.system_compare_finder {
    width: 660px; 
    margin: 0 auto;
    clear: both;
}
.system_compare_finder div {
width: 330px; float: left; text-align: center;
}
.system_compare_finder div input[type="text"] {
    height: 14px;
}
.profiler_bar {
    height: 30px;
    background: #303030;
    color: white;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-style: verdana;
}
.profiler_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: white;
    width: 100%;
}
#sql_profile {
    display: none;
    height: 300px;
    overflow: scroll;
}
.profile_count {
    background: #484848;
    padding: 5px;
    margin-left: 20px;
}
#variable_profile {
    display: none;
    height: 300px;
    overflow: scroll;
}
.sql_profiler {
    border-collapse: collapse;
}
.sql_profiler td {
    border: 1px solid black;
}

.ui-helper-clearfix:after { }
.ui-helper-clearfix {
    overflow: hidden; /* or auto */
    zoom: 1; /* required for ie hasLayout */
}
#main_container {
    position: absolute; 
    width: 100%;
    background: #fdfdfd; 
    z-index: -1; 
    bottom: 0; 
    height: 100%;
}

#left_outer {
    position: absolute; 
    left: 0px; 
    bottom: 0px; 
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAABCAAAAADhxTF3AAAACXBIWXMAAAsSAAALEgHS3X78AAAACXZwQWcAAAAYAAAAAQDjTAy+AAAAGklEQVQI12O88p+BAYT+//8HJhn+/Qex/wMAtlgQw339SU4AAAAielRYdENvbW1lbnQAAHjacy5KTSxJTVEozyzJUHD39A0AADedBeKHffb4AAAAGnpUWHRKUEVHLUNvbG9yc3BhY2UAAHjaMwIAADMAMxEWfmMAAAAqelRYdEpQRUctU2FtcGxpbmctZmFjdG9ycwAAeNozqjDSMaww1DGsMAQAEYMC6QbEyigAAAAASUVORK5CYII=);
    width: 24px; 
    height: 100%;
    z-index: -1;

}
#left_inner {
    position: absolute; 
    left: 24px; 
    bottom: 0px; 
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAKcAAAABCAAAAACeOOHDAAAACXBIWXMAAAsSAAALEgHS3X78AAAACXZwQWcAAACnAAAAAQAI0K0eAAAAK0lEQVQI12N8zgACjAww6j8jkgBCGE4xookyoqrF5CKLQrlAmvE/FgvwAABmYgL/LjNe/wAAACJ6VFh0Q29tbWVudAAAeNpzLkpNLElNUSjPLMlQcPf0DQAAN50F4od99vgAAAAaelRYdEpQRUctQ29sb3JzcGFjZQAAeNozAgAAMwAzERZ+YwAAACp6VFh0SlBFRy1TYW1wbGluZy1mYWN0b3JzAAB42jOqMNIxrDDUMawwBAARgwLpBsTKKAAAAABJRU5ErkJggg==);
    width: 167px; 
    height: 100%; 
    z-index: -1;
}
#right_outer {
    position: absolute; 
    right: -24px;
    bottom: 0px; 
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAABCAAAAADhxTF3AAAACXBIWXMAAAsSAAALEgHS3X78AAAACXZwQWcAAAAYAAAAAQDjTAy+AAAAGElEQVQI12M8yMjECARMDECCgYEJTIIQABNYANa4+2PPAAAAInpUWHRDb21tZW50AAB42nMuSk0sSU1RKM8syVBw9/QNAAA3nQXih332+AAAABp6VFh0SlBFRy1Db2xvcnNwYWNlAAB42jMCAAAzADMRFn5jAAAAKnpUWHRKUEVHLVNhbXBsaW5nLWZhY3RvcnMAAHjaM6ow0jGsMNQxrDAEABGDAukGxMooAAAAAElFTkSuQmCC);
    width: 24px; 
    height: 100%;
    z-index: -1;

}
#right_inner {
    position: absolute; 
    right: 0px;
    bottom: 0px; 
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAKcAAAABCAAAAACeOOHDAAAACXBIWXMAAAsSAAALEgHS3X78AAAACXZwQWcAAACnAAAAAQAI0K0eAAAAIUlEQVQI12P8y4Af/Edj/UcR/Y/Egcv8x8vFKYrFZAQLAKmsFumOGUHOAAAAInpUWHRDb21tZW50AAB42nMuSk0sSU1RKM8syVBw9/QNAAA3nQXih332+AAAABp6VFh0SlBFRy1Db2xvcnNwYWNlAAB42jMCAAAzADMRFn5jAAAAKnpUWHRKUEVHLVNhbXBsaW5nLWZhY3RvcnMAAHjaM6ow0jGsMNQxrDAEABGDAukGxMooAAAAAElFTkSuQmCC);
    width: 167px; 
    height: 100%; 
    z-index: -1;

}
#main_content {
    padding-left: 24px; 
}
#wrapper {
    width: 1003px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}


.sprite {
    background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStnareFlLzBCUZWyPZg%3D%3D&b=5) no-repeat;
    display: block;
}
.ahdlogo_220 {
    margin-left: 10px;
    width: 220px;
    height: 55px;
}

.ahdlogoBW_180 {
    width: 180px;
    height: 44px;
    background-position: 0px -55px;
    float:right;
}

.Icon_PullDown {
    width: 13px;
    height: 16px;
    background-position: -31px -99px;
}

.Icon_video-blue {
    width: 50px;
    height: 12px;
    background-position: 0px -119px;
}

.Icon_video {
    width: 50px;
    height: 12px;
    background-position: -50px -119px;
}

.Icon_Print-gray {
    width: 19px;
    height: 20px;
    background-position: -44px -99px;
    float: left;
}

.Icon_PDF-gray {
    width: 21px;
    height: 20px;
    background-position: -63px -99px;
    float: left;
}

.Icon_Excel-gray {
    width: 21px;
    height: 20px;
    background-position: -84px -99px;
    float: left;
}

.Icon_Print {
    width: 19px;
    height: 20px;
    background-position: -105px -99px;
    float: left;
}

.Icon_PDF {
    width: 21px;
    height: 20px;
    background-position: -124px -99px;
    float: left;
}

.Icon_Excel {
    width: 21px;
    height: 20px;
    background-position: -145px -99px;
    float: left;
}

.button_go {
    width: 40px;
    height: 16px;
    background-position: -176px -119px;
    float: left;
}

.Icon_BackToTop {
    width: 88px;
    height: 18px;
    background-position: -109px -136px;
    position: relative;
    top: -12px;
    margin-bottom: 10px;
}

.bkg_popup_ul {
    width: 17px;
    height: 28px;
    background-position: 0px -268px;
}

.bkg_popup_uc {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAcBAMAAAB4wzlQAAAAElBMVEX4+Pjy8vLi4uLq6urx8fEAAAAtTPLfAAAABnRSTlP//////wCzv6S/AAAAJklEQVQY02MIRYAABtwcJQRQYDBGAAMGQQQQYEABLgjgMMpxcQAARK9TRMF0rXkAAAAASUVORK5CYII=);
}

.bkg_popup_ur {
    width: 17px;
    height: 28px;
    background-position: -40px -268px;
}

.bkg_popup_ll {
    width: 17px;
    height: 28px;
    background-position: -57px -268px;
}

.bkg_popup_lc {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAcBAMAAAB4wzlQAAAAElBMVEXh4eHExMTT09Pt7e3x8fEAAADm2I72AAAABnRSTlP//////wCzv6S/AAAAJElEQVQY02NwQQAHhpHDMUYAAwYUoIQACgyCCCDAEIoAAeRwAO78VNrd2wTtAAAAAElFTkSuQmCC);
}

.bkg_popup_lr {
    width: 17px;
    height: 28px;
    background-position: -97px -268px;
}

.bkg_popup_ml {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAABcBAMAAAB6hUN7AAAAElBMVEXh4eHW1tbw8PDq6urx8fEAAAAmA0krAAAABnRSTlP//////wCzv6S/AAAAGUlEQVQoz2MIDRUwcgECB4ZR1ihrlDVIWAB8o82RSQt5JgAAAABJRU5ErkJggg==);
}

.bkg_popup_mr {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAABZBAMAAAAqSNLIAAAAElBMVEXo6Ojv7+/c3NzQ0NDx8fEAAAA6qaaaAAAABnRSTlP//////wCzv6S/AAAAGElEQVQoz2NwAQFHJtMAhlHWKGuURTcWAJpEu72TPyEFAAAAAElFTkSuQmCC);
}


/*
 * these are used in the popup template.
 * they are included here to get rid of popdef.css
 */
#popupoptions {
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#popupbody h1 {
    padding:0px;
    font-size:18px;
    margin: 12px 0px;
}

#popupbody .video_link_pagetitle {
    padding-left:0px;
}

#popupbody .subcontent {
    padding-left: 20px;
    padding-right: 20px;
}

#popupbody dt {
    margin-left: 0px;
}
#popupbody dd {
    margin:0px;
    padding:0px 0px 20px 0px;
}

#popupbody li {
    padding-bottom: 9px;
}
#popupbody h4 {
    margin-top: 15px;
}

.front_page-outer {
    display: table;

    height: 300px;
    width: 100%;
    position: relative;
}

.front_page-middle {
    display: table-cell;
    vertical-align: middle;
    background: url(/go.php?u=LKbLgNtoNlpD5IQDExn3ey9qPVpStna5YE992hSEIHuTbupYjknvh5WliGHjkQ%3D%3D&b=5);
}

.front_page-inner {
    margin-left: auto;
    margin-right: auto; 
    width: 400px;

    background: rgba(0, 0, 0, 0.8); 
    color: white; 
    text-align: center; 
    border-radius: 12px;
    padding-bottom: 10px;
}

#front_page-quicksearch {
    font-size: 16px;  
    width: 280px; 
    background: rgba(0, 0, 0, 0.0); 
    border: 1px solid #D6D6D6; 
    color: white;
    height: 25px;
    padding: 0px 0px 0px 3px;
}

#quicksearch_content {
    display: none;
}

.disclaimer_message {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
    background: #af1e2d;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    z-index: 2000;
}
.disclaimer_message a {
    color: white;
    text-decoration: underline; 
    text-decoration-style: dashed;
}

div#as_front_page-quicksearch {
    background: #222122;
    border: 1px solid #222122;
    margin-top: 16px;
}
div#as_front_page-quicksearch a:link {
    color: white;
    font-size: 12px;
}
div#as_front_page-quicksearch ul li {
    border-bottom: 1px solid #4a4a4a;
}

.debug_bar {
    height: 30px; 
    font-size: 11px;
    background: black; 
    color: white;
    width: 100%;
    overflow-y: auto;
}
.debug_link:link {
    color: white;
    font-weight: bold;
    font-size: 11px;
}
.info-callout {
    float: right;
}
.info-callout .info-text-container {
    float: right;
    width: 210px; 
    padding-left: 5px;
    text-align: left;
}

.info-callout .info-text-container .info-text {
    font-size: 10px; 
    font-weight: bold; 
    display: table-cell; 
    text-align: left; 
    vertical-align: top;
}

.sample-callout {
    background: #336699; 
    color: white;
    text-align: center; 
    padding: 10px; 
    font-weight: bold;
}
.sample-callout a {
    color: white;
}
#login_link_nav {

}

#login_link_popup {
     display: none;
    position: absolute;
    top: 10px;
    left: -75px;
    width: 150px;
    text-align: left;
    background: #fdfdfd;
    border: 1px solid #D6D6D6;
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 38px -10px;
    border-radius: 12px;
    padding: 15px;
    font-size: 13px;
 }

#login_link_popup > label {
    color: #666;
    font-size: 10px;
    margin-right: 5px;
}
#login_link_popup input {
    width: 150px;
}

#login_link_popup:hover {
    display: block;
}
#login_link_popup  #login {
    width: auto;
}
#login_link_nav:focus + div, #login_link_nav:hover + div{
    display: block;
}

.info_page_image {
    float: right;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 38px -7px;
    margin: 15px;
}

.app_block {
    float: left;
    width: 245px;
    border: 1px solid #D6D6D6;
    margin: 5px;
    padding: 5px;
}
.app_title {
    padding-left: 5px;
    font-weight: bold;
    width: 150px;
    float: left;
    font-size: 14px;
}


@media only screen and (max-device-width: 667px)
and (-webkit-device-pixel-ratio: 2) {
    /* CSS overrides for mobile here */
    #topnav li{
        font-size: 9px;
    }
}

#indicators .component,
#indicators .componentname
{
    font-size: 10px;
    line-height: 16px;
}

#indicators .indicatorname
{
    line-height: 16px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    font-weight: bold;
}


#indicators .definition,
#indicators .indicator
{
    font-size: 10px;
    line-height: 16px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

#indicators .definition, #indicators .a { background-color: #AAA; }
#indicators .indicatorname, #indicators .c { background-color: #CCC; }

#indicators .indicator, #indicators .component, #indicators .componentname, #indicators .indhead, #indicators .indicatorname
{
    text-align: right;
    vertical-align: top;
}

#indicators .indicatorname, #indicators .indicator { font-weight: bold; }
#indicators .indicator, #indicators .component { width: 80px; }
